<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="contr" connectionString="Data Source=192.168.102.244;database=TestDb;User Id=sa;Password=123456788"/>
  </connectionStrings>

  <system.web>
    
    <sessionState timeout="1"    ></sessionState>

    <!--<httpRuntime requestValidationMode="2.0"/>-->
   
  </system.web>
  
</configuration>
