@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazorIndex</title>
</head>
<body>
    <div>
        <h3>Razor视图引擎</h3>
        <h5>@DateTime.Now.ToString()</h5>
        <h5>@ViewData["date"] </h5>
    </div>
</body>
</html>
